{% extends 'base.html' %}

{% block titulo %}MMP Teoria {% endblock titulo %}

{% block css %} {% load static %}<link rel="stylesheet" href="{% static '/calculos_tesis_app/css/style.css' %}" />{% endblock css %}

{% block header %} <h1>MMP Teoria header</h1> {% endblock header %}

{% block content %} <h2>MMP Teoria content</h2> {% endblock content %}

{% block footer %} <h3>MMP Teoria footer</h3> {% endblock footer %}

{% block javascript %} <h4>MMP Teoria javascript</h4>  {% endblock javascript %}