{% extends 'base.html' %}

{% block titulo %}RM Calculos {% endblock titulo %}

{% block css %} {% load static %}<link rel="stylesheet" href="{% static '/calculos_tesis_app/css/style.css' %}" />{% endblock css %}

{% block header %} <h1>RM Calculos header</h1> {% endblock header %}

{% block content %} <h2>RM Calculos content</h2> {% endblock content %}

{% block footer %} <h3>RM Calculos footer</h3> {% endblock footer %}

{% block javascript %} <h4>RM Calculos javascript</h4>  {% endblock javascript %}